form.booking-form{
  width: 430px;
  height: auto;
  border: 1px lightgray solid;
  border-radius: 10px;
  margin-left: 10px;
  padding: 10px;
}

.booking-date{
  padding: 10px;
}
.dates-section{
  display:flex;
  justify-content: space-between;
}
.spot-detail{
  display: block;
  border: 1px lightgray solid;
  border-radius: 10px
}
.price{
  margin: 10px;
}
.pricing{
  margin: 10px;
}
.total{
  margin: 10px;
}

.button-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserve-btn{
  width: 150px;
  height: 50px;
  background-color: rgb(252, 107, 131);
  color: white;
  border-radius: 10px;
  margin: 20px;
  border: 1px solid lightgray;
}

.reserve-btn:hover{
  cursor: pointer;
  color: black;
}

.reminder-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: pink;
  margin: 10px;
  padding: 5px;
  height: 40px;
  text-transform: uppercase;
}
/* .reminder-btn:hover{
  cursor: pointer;
  color: white;
  box-shadow: 5px 5px 5px gray;
} */
