.update-form-btn{
  width: 150px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
}

.update-form-btn:hover{
  cursor: pointer;
  background-color: pink;
}

.update-btn{
  border-radius: 10px;
}
.update-btn:hover{
  cursor: pointer;;
}
