.update-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 450px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(to bottom,
        white,
        rgba(213, 3, 38, 0.771),
        rgba(0, 0, 0, 0.568));
  margin: 30px;
}
.update-form-elements{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.update-form-elements > label{
  width: 80%;
}

.update-form-btn{
  width: 150px;
  height: 50px;
  /* background-color: pink; */
  border-radius: 5px;
  border: 1px solid lightgray;
}

.update-form-btn:hover{
  cursor: pointer;
  background-color: rgb(255, 143, 162);
  color: white;
}

.update-btn{
  border-radius: 10px;
  width: 100px;
  height: 40px;
  margin: 10px;
}

.update-btn:hover{
  cursor: pointer;
  background-color: rgb(255, 143, 162);
  color: white;
}

.delete-btn{
  border-radius: 10px;
  /* background-color: pink; */
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.delete-btn:hover{
  cursor: pointer;
  background-color: pink;
  color: white;
}

.update-button-section{
  display: flex;
  justify-content: center;
  align-items: center;
}
