.create-form{
  padding: 20px;
  width: 400px;
  height: auto;
  border-radius: 10px;
}
.join-btn-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-btn{
  height: 50px;
  width: 130px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  background-color: white;
}
.join-btn:hover{
  cursor: pointer;
  background-color: rgb(230, 138, 153);
}

.create-form-btn{
  grid-area: host-home;
  display: block;
  border-radius: 10px;
  background-color: white;
  border: none;
  width: 130px;
  height: 50px;
  right: 150px;
  top: 40px;
  margin-left: 20px;
}

.create-form-btn:hover {
  cursor: pointer;
  background-color: rgb(255, 143, 162);
  color: white;
}
