.create-form-btn{
  position: fixed;
  border-radius: 10px;
  border: none;
  height: 30px;
  right: 220px;
  top: 60px;
  background-color: white
}

.create-form-btn:hover {
  cursor: pointer;
  background-color: rgb(230, 230, 230)
}
