.spot-link{
  text-decoration: none;
  width: 300px;
}

.spot-img-box{
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
img.img-itself{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.homepage-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;
}

div.each-spot {
  display: flex;
  margin: 20px;
  min-width: 250px;
  max-width: 320px;

}

div img{
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  display: block;
  max-height: 350px;
  width: 320px;
  height: 337px;
  border-radius:10px;
}

div.city-country {
  padding-top: 5px;
  color: black;
  font-size: large;
  font-weight: bolder;
}

div.spot-description{
  padding-top: 5px;
  color: gray;
  font-size: large;
}

div.updated-at {
  color: gray;
  font-size: medium;
  padding-top: 5px;
}

div.price {
  color: black;
  font-weight: bold;
  padding-top: 5px;
}
