
div.homepage-container {
  display: grid;
  grid-template-columns: repeat(4, 25% [spot]);
  grid-template-rows: repeat(5, 403px);
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

div.each-spot{
  margin: 20px;
}

div.city-country {
  padding-top: 5px;
  color: black;
  font-size: large;
  font-weight: bolder;
}

div.spot-description{
  padding-top: 5px;
  color: gray;
  font-size: large;
}

div.updated-at {
  color: gray;
  font-size: medium;
  padding-top: 5px;
}

div.price {
  color: black;
  font-weight: bold;
  padding-top: 5px;
}
