
.current-booking-bookingform{
  display:flex;
  justify-content: center;
}

/* .picture-section{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas: 'preview . others';
}

.preview-picture{
  grid-area: preview;
}

.other-picture-spot{
  grid-area: others;
} */

/* .picture-section{
  display: flex;
  flex-wrap: wrap;
} */
