.current-booking-bookingform{
  display:flex;
  justify-content: center;
}
.h1-city-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.picture-section {
  display: flex;
  justify-content: center;
  height: 350px;
  width: 100%;
}
.preview-picture{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 420px;
  height: 400px;
}
.preview-picture-itself{
  width: 100%;
  object-fit: cover;
}
.other-pictures {
  display: flex;
  flex-direction: column;
}
.smaller-pictures{
  display: flex;
  flex-direction: row;
  width: 225px;
  height: auto;
  border-radius: 10px;
  margin-left:5px;
  margin-bottom: 5px;
}

.whole-info-container{
  display: flex;
  justify-content: center;

}

.stuff-before-bookings{
  width: 400px;
  box-sizing: border-box;
}
.edit-spot-section{
  margin-bottom: 20px;
}
