html,
body,
input,
textarea,
button,
select,
a {
  font-family: 'Open Sans';
  font-size: 16px;
}

form.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

form.signup-form{
  width: 500px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
  position: absolute;
  left: 30%
}

button.sign-up-btn {
  display: flex;
  border: 0;
  border-radius: 10px;
  background: none;
  font-weight: 700;
  padding: .5em 1em;
  text-transform: uppercase;
  transition: background-color .25s, color .25s;
  cursor: pointer;
  margin: 20px;
}

button:hover.sign-up-btn {
  background-color: pink;
  color: white;
}



input {
  border: 0;
  border-bottom: 2px solid #CCC;
  box-sizing: border-box;
  display: block;
  outline: 0;
  padding: .25em .5em;
  width: 100%;
}

