html,
body,
input,
textarea,
button,
select,
a {
  font-family: 'Open Sans';
  font-size: 16px;
}
.logo{
  margin: 10px;
  padding: 10px;
  color: white;
  font-size: 30px;
  height: 50px;
}


.signup-form-container{
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 10%;
}

form.signup-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  height: 70vh;
  width: 500px;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 10px;
  background: linear-gradient(to bottom,
  white,
  rgba(213, 3, 38, 0.771),
  rgba(0, 0, 0, 0.568));
  z-index: 1;
}

button.sign-up-btn {
  display: flex;
  border: solid 1px;
  border-radius: 10px;
  background: none;
  font-weight: 700;
  padding: .5em 1em;
  text-transform: uppercase;
  transition: background-color .25s, color .25s;
  cursor: pointer;
  margin: 20px;
}

button:hover.sign-up-btn {
  background-color: pink;
  color: white;
}

input {
  border: 0;
  border-bottom: 2px solid #CCC;
  box-sizing: border-box;
  display: block;
  outline: 0;
  padding: .25em .5em;
  width: 100%;
}
