button {
  /* display: flex; */
  border: 0;
  background: none;
  font-weight: 700;
  padding: .5em 1em;
  text-transform: uppercase;
  transition: background-color .25s, color .25s;
  cursor: pointer;
}

button:hover {
  background-color: blue;
  border-radius: 50px;
  color: white;
}

.nav-section{
  display: flex;
}

.homepagePic
{
  width: 200px;
  
}

.menu-btn
{
  border: solid 2px;
  border-radius: 25px;
  border-color: gray;
  position: absolute;
  top: 1.5rem;
  right: 13rem;
}

.nav-ul
{
  display: flex;
  justify-content: end;
  position: absolute;
  right: 5px;
}
