.nav-section {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.menu-btn {
  height: 100px;
  border: 2px solid gray;
  border-radius: 25px;
  background: none;
  font-weight: 700;
  padding: .5em 1em;
  text-transform: uppercase;
  transition: background-color .25s, color .25s;
  cursor: pointer;
}

.menu-btn:hover {
  background-color: pink;
  border-radius: 25px;
  color: white;
}
