.nav-section {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
  max-width: 100%;
  padding: 10px;
  border-bottom: 1px lightgray solid;
  background-color: white;
  /* border-radius: 10px; */
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

a{
  text-decoration: none;
  color: rgb(246, 90, 95);
}

button.demo-login-btn{
  height: 50px;
  border: none;
  border-radius: 10px;
  margin-left: 10%;
  padding: 10px;
}
button.demo-login-btn:hover{
  background-color: rgb(220, 220, 220);
  color: white;
  cursor: pointer;
}

.curr-owner-spot-btn{
  grid-area: current-owner;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  margin: 0;
  background: white;
}

.curr-owner-spot-btn:hover{
  background-color: rgb(255, 143, 162);
  color: white;
  cursor: pointer;
}

img.logo{
 grid-area: logo;
 width: 64px;
 height: 64px;
 display: block;
}

button.profile-btn{
  border-radius: 10px;
  border: 1px;
  height: 30px;
  width: 150px;
  background-color: white;
}

.profile-btn:hover {
  cursor: pointer;
  background-color: pink;
}

.logout-btn{
  border-radius: 10px;
  border: 1px;
  height: 30px;
  width: 150px;
  background-color: white;
}
.logout-btn:hover {
  cursor: pointer;
}

.create-form-btn{
  grid-area: host-home;

}

/* Dropdown Button */
.dropbtn {
  grid-area: menu-drop-btn;
  background-color: white;
  color: rgb(98, 97, 97);
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}
.fa-bars{
  padding-right: 8px;
}
.fa-user{
  padding-left: 8px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  grid-area: menu-btn;
  position: sticky;
  right: 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  right: 0px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(255, 143, 162);
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 10px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #d4d4d4;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}
