.modal-login-btn{
  border-radius: 5px;
  position: relative;
}

.modal-login-btn:hover{
  cursor: pointer;
  background-color: lightgray;
}

form.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  height: 50vh;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 10px;
  width: 500px;
  padding: 10px;
  background: linear-gradient(to bottom,
        white,
        rgba(213, 3, 38, 0.771),
        rgba(0, 0, 0, 0.568));
  margin-top: 15%;
}
.login-btn-section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-btn{
  height: 40px;
  width: 70px;
  border: 1px solid lightgray;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  background: none;
  font-weight: 700;
}
.login-btn:hover{
  background-color: pink;
  color: white;
}
label{
  margin: 10px;
}
